
$body-font-family: 'Inter', 'Roboto', sans-serif;
$heading-font-family: 'Inter', 'Roboto', sans-serif;
$font-weights: ( 'light': 300, 'regular': 400, 'medium': 500, 'bold': 600, 'black': 700 );
$material-light: (
  'background': #FAFBFC
);
$headings: (
  'h1': (
    'weight': 500
  ),
  'h2': (
    'weight': 500
  ),
  'h3': (
    'weight': 500
  ),
  'h4': (
    'weight': 500
  ),
  'h5': (
    'weight': 600
  ),
  'h6': (
    'weight': 600
  )
);
